@model HastaneTakipSistemi.Models.BarkodOlustur

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Barkod Detay</h1>

    <div>
        <p><strong>Türkiye Cumhuriyeti Kimlik Numarası:</strong> @Model.tcNo</p>
        <p><strong>Yaş:</strong> @Model.Yas</p>

    </div>
</body>
</html>