
@{
    ViewData["Title"] = "Index";
}

<form action="/YapılanIslemGoruntule/Goruntule" method="get">
    <label for="userInput">TcNo:</label>
    <input type="text" name="userInput" id="userInput" />
    <button type="submit">Gönder</button>
</form>
