@model HastaneTakipSistemi.Models.BarkodOlustur

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BarkodOlustur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="contact-form row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HastaAdi" class="control-label"></label>
                <input asp-for="HastaAdi" class="form-control" />
                <span asp-validation-for="HastaAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tcNo" class="control-label"></label>
                <input asp-for="tcNo" class="form-control" />
                <span asp-validation-for="tcNo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EngelDurumu" /> @Html.DisplayNameFor(model => model.EngelDurumu)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Yas" class="control-label"></label>
                <input asp-for="Yas" class="form-control" />
                <span asp-validation-for="Yas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Kod" class="control-label"></label>
                <select asp-for="Kod" class="form-control">

                    <option value="Kırmızı">Kırmızı</option>
                    <option value="Sarı">Sarı</option>
                    <option value="Yeşil">Yeşil</option>

                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
